<div class="login-container">
    <div class="login-box">
        <div class="login-header">
          INTELLIGENT NOTES GENERATING SOLUTION  
        </div>
        <div class="login-content">
          <p>A web based application where user can give URL or transcipt file of any learning video(from Youtube) to generate topic wise notesvideo in any available language.</p>
        <div class="btn-box">
          <button role="button" class="btn btn-primary" (click)="login()">Sign-In</button>
        <button role="button" class="btn btn-primary ms-2" (click)="loginAsGuest()">Use As Guest</button>
        </div>
        </div>
    </div>
</div>