/* Body CSS */
body{ margin: 0; font-size: 14px !important; font-family: Calibri, "Helvetica Neue", "sans-serif", Roboto !important; }
.container-fluid { height: calc(100vh - 64px); padding: 15px;}

/* Button CSS */
.btn-primary { min-width: 100px; max-width: 150px; border-radius: 0; border: 0; background: #3f51b5; box-shadow: 3px 3px 5px -1px #3f51b5; }
.btn-primary:hover { background: #38479d;}

/* Button icons CSS */
.btn-icon { font-size: 32px; height: 32px !important; width: 32px !important; margin-left: 5px; color: #3f51b5; }
.btn-icon:hover { color: #38479d; }
.btn-icon-disabled { color: #949ed7; cursor: default; pointer-events: none; }

/* Snackbar CSS */
.mat-mdc-snack-bar-container { margin: 20px 0 0 1045px !important; }
.mat-mdc-snackbar-surface{ color: #fff !important; }
.mat-mdc-snack-bar-action { color: #fff !important;}
.success-snackbar .mat-mdc-snackbar-surface{ background: #28a745 !important; }
.error-snackbar .mat-mdc-snackbar-surface{ background: #dc3545 !important; }

/* Progress spinner CSS */
.spinner-container { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; backdrop-filter: blur(6px); background-color: rgba(255, 255, 255, 0.3); display: flex; justify-content: center; align-items: center; z-index: 9999; }

/* Form fields styles */
mat-form-field{cursor: pointer;}
input{cursor: pointer;}
.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before{display: none;}